@page "/"
@inject DataGenerator data

<PageTitle>Index</PageTitle>

<p>
    @data.GeneratePerson().ToString()
</p>
<p>
    @data.GeneratePerson().ToString()
</p>
<p>
    @data.GeneratePerson().ToString()
</p>
<p>
    @data.GeneratePerson().ToString()
</p>
<p>
    @data.GeneratePerson().ToString()
</p>

@code{

}
